[Desktop Entry]
Name=Hyprland
Comment=This session logs you into Hyprland
Exec=/usr/bin/hyperland-begin
TryExec=/usr/bin/hyperland-begin
Type=Application
DesktopNames=Hyprland
X-GDM-SessionRegisters=true
